
body {
	background: linear-gradient(-45deg, #fff4e6, #f8fcff, #ffebf6, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@font-face { 
  font-family: 'CabinetGrotesk-Regular';
  src: url('fonts/CabinetGrotesk-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'CabinetGrotesk-Medium';
  src: url('fonts/CabinetGrotesk-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.leftMenuBg {
  background: #020110;
  width:275px!important;
  padding:0 5px 0 0;
  
}

.leftMenuTopParent {
  display: flex;
  align-items: center;
  justify-content:left;
  width: 100%;
  padding:10px 10px 20px 10px;
  box-sizing: border-box;
}
.leftMenuTopParent .leftArrow {
  background: url(icons/left-arrow.svg);
    width: 22px;
    height: 22px;
    transform: scale(1.2);  
}
.leftMenuTopParent .ThreeDotMenu {
  background: url(icons/threebar-menu.svg);
    width: 22px;
    height: 20px;
    float: right;
    opacity:0.7;
    cursor: pointer;
    filter: invert(94%) sepia(0%) saturate(7475%) hue-rotate(79deg) brightness(112%) contrast(105%);
    position: relative;
    right: 10px;
}
.leftMenuTopParent .ThreeDotMenu:hover {
  opacity:0.9;
}

.leftMenuTopParent .addDetails {
  font-size:18px; color:#fff;
  font-family:'CabinetGrotesk-Medium';
  padding:0 0 0 20px;
  width: 100%;
  text-align: left;
}

.accordion{ 
  background: #020110;
  width: 98%;
}
.accordion-item{
  border-radius:0px!important;
  border:none;
  border: 0px!important;
  margin: 0 0 2px 0px;
 
}
.accordion-body{
  background: #020110;
  padding: 0px!important;
}

.accordion-button:not(.collapsed) {
  border: none !important;
  box-shadow: none!important;
}

.accordionFourDotIcon{
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
  position: relative;
  bottom:1px;
  right:5px;
  margin-right:5px;
}

 .accordion-button{
  font-family:'CabinetGrotesk-Medium';
  font-size:16px;
  color: #9A999F!important;
  box-shadow:none;
  border-radius:0px;
  border:none;
  background-color:#141321!important;
  border-top-left-radius:0px!important;
  border-top-right-radius:0px!important;
}


.accordion-button:not(.collapsed) {
  color: #020110!important;
  background: linear-gradient(90deg, rgba(0,245,177,1) 0%, rgba(0,233,224,1) 100%);
}

.accordion-button:not(.collapsed):before{
  content:'';
  display: inline-block;
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
  position: relative;
  bottom:1px;
  right:5px;
  margin-right:5px;
  opacity: 1;
  filter:none!important;
}

.accordion-button:before {
  content:'';
  display: inline-block;
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
  position: relative;
  bottom:1px;
  right:5px;
  margin-right:5px;
  opacity: 0.5;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%);
}

.accordion-button:after {
    visibility: hidden;
}
.accordion-button:not(.collapsed):after {
  visibility: visible;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius:0px!important;
  border-bottom-left-radius:0px!important;
}

.accordion-button:focus{
  box-shadow:none!important;
}

.userMenuParent {
  position: fixed;
  bottom:0;
  width:275px;
  border-top:1px solid #00F5B1!important;
}

.accordion-item:last-of-type .accordion-button.collapsed:before {
  content:'';
  display: inline-block;
  background: url(icons/userIcon.svg);
  width: 24px;
  height:24px;
  transform: scale(0.6);
  right:0px;
  bottom:auto;
}
.accordion-item:last-of-type .accordion-button.collapsed:after {
  visibility: visible;
  opacity:0.7;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%);
}

.cstmblackBg {
  background: #141321;
}

.cstmPadding {
  position: relative;
  right:8px;
  width: 283px!important;
}


.sideMenuListItem {
  width:100%;
  display: inline-block;
}

.sideMenuListItem ul {
  padding:0;
  margin: 5px 0 0 0;
  list-style-type: none;
  
}


.sideMenuListItem ul li {
    padding:8px 10px 8px 10px;
    float: left;
    width:100%;
    border-left:2px solid #020110;
    cursor: pointer;  
}
.sideMenuListItem ul li:before {
  content: '';
  width: 10.084px;
  height: 9.989px;
  display: inline-block;
  background:url(icons/fourdot-icon.svg);
filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%);
margin-right: 5px;
transform: scale(0.8);
opacity:0.5;

}
.sideMenuListItem ul li a {
  font-size:14px;
  text-decoration: none;
  font-weight: 500;
  color:#9A999F;
  
}
.sideMenuListItem ul li:hover:before{
  opacity:1;
}
.sideMenuListItem ul li:hover {
  background:hsla(0,0%,100%,.07);
  border-left:2px solid #00F5B1;
}
.sideMenuListItem ul li:hover a {
  color:#fff;
}

/* Top BreadCrumb Menu */

.topBreadCrumbBarParent {
  background: #020110;
  height:65px;
  padding:0 0 0 15px;
  line-height:60px;
  width:100%;
  box-sizing: border-box;
}

.breadcrumb {
  font-family: 'CabinetGrotesk-Regular';
  font-size:15px!important;
  
}
.breadcrumb a {
  color:#9A999F;
  text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
  color:#9A999F!important;
}
.breadcrumb a:hover {
  color:#fff;
}


.topCTAParent {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.previewCTA {
  font-family: 'CabinetGrotesk-Regular';
  color:#9A999F;
  text-decoration:none;
  font-size:16px;
  margin:0 20px 0 0;
  
}
.previewCTA:hover {
  color:#fff;
}

.nextCTA {
  font-family: 'CabinetGrotesk-Regular';
  color:#020110;
  text-decoration: none;
  font-size: 16px;
  padding:2px 25px 0 25px;
  font-weight:bold;
  border:none;
  border-radius:20px;
  line-height: 32px;
 
  background: linear-gradient(90deg, rgba(0,245,177,1) 0%, rgba(0,233,224,1) 100%);
}
.nextCTA:hover {
  background: #fff;
}
