
body {
	background: linear-gradient(-45deg, #fff4e6, #f8fcff, #ffebf6, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@font-face { 
  font-family: 'CabinetGrotesk-Regular';
  src: url('fonts/CabinetGrotesk-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'CabinetGrotesk-Medium';
  src: url('fonts/CabinetGrotesk-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Inter-Regular';
  src: url('fonts/Inter-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.leftMenuBg {
  background: #020110;
  width:275px!important;
  padding:0 5px 0 0;
  
}

.leftMenuTopParent {
  display: flex;
  align-items: center;
  justify-content:left;
  width: 100%;
  padding:10px 10px 20px 10px;
  box-sizing: border-box;
}
.leftMenuTopParent .leftArrow {
  background: url(icons/left-arrow.svg);
    width: 22px;
    height: 22px;
    transform: scale(1.2);  
}
.leftMenuTopParent .ThreeDotMenu {
  background: url(icons/threebar-menu.svg);
    width: 22px;
    height: 20px;
    float: right;
    opacity:0.7;
    cursor: pointer;
    filter: invert(94%) sepia(0%) saturate(7475%) hue-rotate(79deg) brightness(112%) contrast(105%);
    position: relative;
    right: 10px;
   
}
.leftMenuTopParent .ThreeDotMenu:hover {
  opacity:0.9;
}

.leftMenuTopParent .addDetails {
  font-size:18px; color:#fff;
  font-family:'CabinetGrotesk-Medium';
  padding:0 0 0 10px;
  width: 100%;
  text-align: left;
}

.accordion{ 
  background: #020110;
  width: 98%;
}
.accordion-item{
  border-radius:0px!important;
  border:none;
  border: 0px!important;
  margin: 0 0 2px 0px;
 
}
.accordion-body{
  background: #020110;
  padding: 0px!important;
}

.accordion-button:not(.collapsed) {
  border: none !important;
  box-shadow: none!important;
}

.accordionFourDotIcon{
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
  position: relative;
  bottom:1px;
  right:5px;
  margin-right:5px;
}

 .accordion-button{
  font-family:'CabinetGrotesk-Medium';
  font-size:16px;
  color: #9A999F!important;
  box-shadow:none;
  border-radius:0px;
  border:none;
  background-color:#141321!important;
  border-top-left-radius:0px!important;
  border-top-right-radius:0px!important;
  
}


.accordion-button:not(.collapsed) {
  color: #020110!important;
  background: linear-gradient(90deg, rgba(0,245,177,1) 0%, rgba(0,233,224,1) 100%);
}

.accordion-button:not(.collapsed):before{
  content:'';
  display: inline-block;
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
  position: relative;
  bottom:1px;
  right:5px;
  margin-right:5px;
  opacity: 1;
  filter:none!important;
  
}

.accordion-button:before {
  content:'';
  display: inline-block;
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
  position: relative;
  bottom:1px;
  right:5px;
  margin-right:5px;
  opacity: 0.5;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%);
}

.accordion-button:after {
    visibility: hidden;
    transform: rotate(270deg) scale(0.7);
    transition: 0.5s all ease 0s;
    position: relative;
 left:5px;
    
}
.accordion-button:hover:after {
  visibility: visible;
  transform: rotate(270deg) scale(0.7);  
  transition: 0.5s all ease 0s; 
 position: relative;
 left:10px;
}

.accordion-button:not(.collapsed):after {
  visibility: visible;
  transform: scale(0.7)!important; 
  left: 0; 
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius:0px!important;
  border-bottom-left-radius:0px!important;
  filter: none!important;
}

.accordion-button:focus{
  box-shadow:none!important;
}

.accordion-item .accordion-button{
  transition: 1.5s all ease 0s;
}
.accordion-item .accordion-button:before{
  transition: 1.5s all ease 0s;
}
.accordion-item .accordion-button:hover{
  color:#141321!important;
  transition: 1.5s all ease 0s;
  background:#fff!important;
}
.accordion-item .accordion-button:hover:before{
  opacity: 1;
  transition: 1.5s all ease 0s;
  filter:none!important;
}

.userMenuParent {
  position: fixed;
  bottom:0;
  width:275px;
  border-top:1px solid #00F5B1!important;
}

.accordion-item:last-of-type .accordion-button.collapsed:before {
  content:'';
  display: inline-block;
  background: url(icons/userIcon.svg);
  width: 24px;
  height:24px;
  transform: scale(0.6);
  right:0px;
  bottom:auto;
}
.accordion-item:last-of-type .accordion-button.collapsed:after {
  visibility: visible;
  opacity:0.7;
  transform: rotate(180deg) scale(0.7);
  left:0;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%);
}

 .accordion-item:last-of-type .accordion-button.collapsed:hover:after{
  filter:none!important;
}

/* .accordion-item:last-of-type .accordion-button:hover{
  color:#9A999F!important;
  background:#020110!important;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%)!important;
}  */


.cstmblackBg {
  background: #141321;
}

.cstmPadding {
  position: relative;
  right:8px;
  width: 283px!important;
}


.sideMenuListItem {
  width:100%;
  display: inline-block;
}

.sideMenuListItem ul {
  padding:0;
  margin: 5px 0 0 0;
  list-style-type: none;
  
}


.sideMenuListItem ul li {
    padding:8px 10px 8px 10px;
    float: left;
    width:100%;
    border-left:2px solid #020110;
    cursor: pointer;  
    transition: 1.5s all ease 0s;
    
}
.sideMenuListItem ul li:before {
  content: '';
  width: 10.084px;
  height: 9.989px;
  display: inline-block;
  background:url(icons/fourdot-icon.svg);
filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(106%) contrast(101%);
margin-right: 5px;
transform: scale(0.8);
opacity:0.5;
transition: 1.5s all ease 0s;

}
.sideMenuListItem ul li a {
  font-size:14px;
  text-decoration: none;
  font-weight: 500;
  color:#9A999F;
  transition: 1.5s all ease 0s;
  
}
.sideMenuListItem ul li:hover:before{
  opacity:1;
  transition: 1.5s all ease 0s;
}
.sideMenuListItem ul li:hover {
  background:hsla(0,0%,100%,.07);
  transition: 1.5s all ease 0s;
}
.sideMenuListItem ul li:hover a {
  color:#fff;
  transition: 1.5s all ease 0s;
}

.sideMenuListItem ul li.activeTab {
 border-left:2px solid #00F5B1;
 opacity:1;
 
}
.sideMenuListItem ul li.activeTab a {
  color:#fff;
}
.sideMenuListItem ul li.activeTab:before{
  opacity:1;
}


/* Top BreadCrumb Menu */

.topBreadCrumbBarParent {
  background: #020110;
  height:65px;
  padding:0 0 0 15px;
  line-height:60px;
  width:100%;
  box-sizing: border-box;
}

.breadcrumb {
  font-family: 'CabinetGrotesk-Regular';
  font-size:15px!important;
  
}
.breadcrumb a {
  color:#9A999F;
  text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
  color:#9A999F!important;
}
.breadcrumb a:hover {
  color:#fff;
}


.topCTAParent {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.previewCTA {
  font-family: 'CabinetGrotesk-Regular';
  color:#9A999F;
  text-decoration:none;
  font-size:16px;
  margin:0 20px 0 0;
  
}
.previewCTA:hover {
  color:#fff;
}

.nextCTA {
  font-family: 'CabinetGrotesk-Regular';
  color:#020110;
  text-decoration: none;
  font-size: 16px;
  padding:2px 25px 0 25px;
  font-weight:bold;
  border:none;
  border-radius:20px;
  line-height: 32px;
 
  background: linear-gradient(90deg, rgba(0,245,177,1) 0%, rgba(0,233,224,1) 100%);
}
.nextCTA:hover {
  background: #fff;
}

/* table data  */

table {
  font-family: 'Inter-Regular';
  background: #fefefea6;
  margin-bottom: 0px!important;
}

table thead {
  background: linear-gradient(90deg, rgba(0,245,177,1) 0%, rgba(0,233,224,1) 100%);
  line-height:36px;
}

table tbody td {
  color:#67676f;
  font-size:14px;
  line-height:30px;
}
table tbody tr {
  border-top:2px solid #dedede;
  border-bottom:2px solid #dedede;
  transition: 0.5s all ease 0s;
  background: transparent!important;
}

table tbody tr:hover {
  border-bottom:2px solid #bfbab8;
  border-top:2px solid #bfbab8;
  background:#fff!important;
  transition: 0.5s all ease 0s;
}

.tableRowIconsParent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 12px;
  transform: scale(0.9);
}
.tableRowIconsParent .dotsIcon {
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
}

.tableRowIconsParent .rowArrowIcon {
  background: url(icons/row-arrow.svg);
  width:7px;
  height:8px;
  margin: 0 0 0 10px;
  transform: scale(1.2);
}


.tableTdIconsParent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
  opacity: 0.5;
  transform: scale(0.9);
}
.tableTdIconsParent .dotsIcon {
  background: url(icons/fourdot-icon.svg);
  width: 10.084px;
  height: 9.989px;
}

.tableTdIconsParent .rowArrowIcon {
  background: url(icons/row-arrow.svg);
  width:7px;
  height:8px;
  margin: 0 0 0 10px;
  transform: scale(1.2);
}


.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 13px;
  left:27px;
  top:7px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b3b1b7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 2.1px;
  bottom: 2.1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #353340;
}

input:focus + .slider {
  box-shadow: 0 0 1px #353340;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.textMandatory {
  color:#ff2944;
  cursor:default;
  position: relative;
  padding-bottom: 3px;
}
.textMandatory:before{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #ff2944, #ff2944);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.5s ease-in;  
  opacity: 0.5;
}
.textMandatory:hover:before{
  background-size: 100% 1px;
  opacity: 1;
}


.textRecommended {
  color:#228fec;
  cursor:default;
  position: relative;
  padding-bottom: 3px;
}

.textRecommended:before{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #228fec, #228fec);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.5s ease-in;  
  opacity: 0.5;
}
.textRecommended:hover:before{
  background-size: 100% 1px;
  opacity: 1;
}

.textAdditional {
  color:#00ac84;
  cursor:default;
  position: relative;
  padding-bottom: 3px;
}
.textAdditional:before{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #00ac84, #00ac84);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.5s ease-in;  
  opacity: 0.5;
}
.textAdditional:hover:before{
  background-size: 100% 1px;
  opacity: 1;
}

input[type="checkbox"] {visibility: hidden; } 
tr:hover input[type="checkbox"] { visibility:visible; } 
input[type="checkbox"]:checked { visibility:visible; }

input[type='checkbox']{
  box-shadow:none;
  width: 10px;
  height: 10px;
  border-radius:100%;
  position: relative;
  left:10px;
  top:-2px;
  
}
input[type='checkbox']:checked{
  width: 10px;
  height: 10px;
  border-radius:100%;
  background:#020110;
  transition: 1.5s all ease 0s;
 
}

.checkboxRound {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #676770;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.addItemRow {
  display: flex;
  color:#67676f;
  background: transparent;
  align-items: center;
  transition: 1s all ease 0s;
  font-size:15px;
  line-height: 45px;
  cursor: pointer;
}
.addItemRow .plusIcon{
  background: #e3e3e3;
  width:25px;
  height:25px;
  border-radius:100%;
  margin:0 10px 0 30px;
  
}
.addItemRow .plusIcon:before{
  content:'+';
  color:#5c5a5e;
  position: relative;
  bottom:11px;
  left:6px;
  font-size:20px;
  font-weight:500;
  transition: 1s all ease 0s;
}
.addItemRow:hover .plusIcon{
  color:#020110;
  background:#fff;
  transition: 1s all ease 0s;
}


.addItemRow:hover {
  background:#020110;
  transition: 1s all ease 0s;
  color:#fff;
}

.basePriceParent {
  display: inline-block;
  width:100%;
  font-family: 'Inter-Regular';
  background:#fff;
 padding:0 0 20px 0;
}

.basePriceParent .basePrice {
  color:#67676f;
  font-size:14px;
  text-align: left;
  float: left;
}

.basePriceParent .basePrice .icons{
  background: url(https://cdn9.momspresso.com/static/images/svg-icons/info.svg);
  width:30px;
  height:30px;
  display: inline-block;
  margin: 0 5px 0 25px;
  transform: scale(0.5);
  position: relative;
  top:10px;
}
.basePriceParent .totalPrice {
  font-size:15px;
  float: right;
}
